{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
  <style>
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    p {
       display: block;
      margin-left: auto;
      margin-right: auto;
    }
    </style>

   
</head>
<body>
    <div class="about-section">
   
  <img src="{% static 'img/about.jpg'%}" height="60%" width="80%" 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  />
  <p>What is the purpose of cinema hall?
    The primary aim of a cinema hall is to provide entertainment to the public. The cinema halls in the current time are now not only providing the opportunity of watching movies but in some metropolitan cities, they also offer restaurant and bar facilities.What is the purpose of cinema hall?
    The primary aim of a cinema hall is to provide entertainment to the public. The cinema halls in the current time are now not only providing the opportunity of watching movies but in some metropolitan cities, they also offer restaurant and bar facilities.What is the purpose of cinema hall?
    The primary aim of a cinema hall is to provide entertainment to the public. The cinema halls in the current time are now not only providing the opportunity of watching movies but in some metropolitan cities, they also offer restaurant and bar facilities.What is the purpose of cinema hall?
    The primary aim of a cinema hall is to provide entertainment to the public. The cinema halls in the current time are now not only providing the opportunity of watching movies but in some metropolitan cities, they also offer restaurant and bar facilities.</p>
</div>


</body>
</html>

{% endblock %}