{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
   
</head>
<body>
    <div class="about-section">
   
      <p class=""><iframe src="https://www.google.com/maps/embed?pb=!1m18!1
        m12!1m3!1d3533.6524671995508!2d85.41971701430025!3d27.666222133906547!2m3!1f0!2f0!3f0!3m2!1i1024!2i768
        !4f13.1!3m3!1m2!1s0x39eb1aa135945117%3A0x45c9aae681585e81!2sBarahi%20Movies!5e0!3m2!1sen!2snp!4v1655813090321!5m2!1sen!2snp" position='center' width="900" height="300" style="border:6;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></p> 
  <h2 class="text-align-center">Contact Us</h2>
  <h4>Email ID : aayush@gmail.com</h4>
  <h4>Contact : +977 9813107585</h4>
  <h4>Address : Suryabinayak, BKT</h4>


    

</div>


</body>
</html>

{% endblock %}